    body {
      background-color: rgb(25, 28, 29);
    }
    * {
        color: rgb(20,132,255);
        font-family: monospace;
        line-height: .1;
        margin-left: 10;
        transition-duration: .1s;
    }
    .mh {
        font-size: 80;
    }

a:hover {
  color: white;
}

    a {
        text-decoration:none
    }
    .mp {
        font-size: 25;font-weight: bold;
    }
    .sp {
        font-size: 17;font-weight: bold;
        line-height: 1;
    }
    li {
        font-size: 17;font-weight: bold;
        line-height: 1;
    }
    .marginated {
        margin-top:80;
    }
